@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #a3b18a ;
}