@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
}
section{
    width: 100%;
    position: relative;
}
.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 6vw;
    background: white;
    z-index: 1000;
}
.Portfolio{
    font-size: 3vw;
    color:black;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.menuitems{
    display: flex;
    margin: auto 0;   
}
.menuitems li{
    list-style: none;
    margin:0 1.5vw ;
}
.menuitems li a{
    display: block;
    color: black;
    font-size: 1.5vw;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.menuitems li:hover a{
    color:#432818 ;
}
.container{
    display: flex;
    width:100%;
    min-height: center;
    justify-content: center;
    position: relative;
}
.text_container{
    width: 50%;
    padding-left: 5rem;
    padding-top: 5rem;
}
.text_container h2{
    font-size: 10vw;
}
..text_container h2{
    font-size: 10vw;
    font-weight: 900;
    line-height: 10vw;
    text-transform: capitalize;
}
.text_container h2::first-line{
    color:#ffbe0b;
    letter-spacing: 5px;
    text-shadow: 0 5px 10px white;
}
.text_container h5{
    color: #fb5607;
    font-size:  2.5vw;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
    margin-right: 10vw;
    text-transform: capitalize;
    
}


